{% if site.home %} 
{% assign return = site.home | relative_url %}
{% else %}
{% assign return = '/' | relative_url %}
{% endif %}

<header class="custom-navbar">
  <div class="container">
    <nav class="navbar navbar-expand-sm p-0">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ '/about' | relative_url }}">about</a>
        <a class="nav-link" href="{{ '/publications' | relative_url }}">publications</a>
        <a class="nav-link" href="{{ '/repositories' | relative_url }}">repositories</a>
        <a class="nav-link" href="{{ '/cv' | relative_url }}">cv</a>
      </div>
    </nav>
  </div>
</header>
