---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}
{% assign index_bg = site.data.skin.index.bg  | default: 'gray-2' %}


<main class="my-4">
  <div class="container px-5 py-3">

    <div class="row align-items-start">
      <!-- 左边：文字 -->
      <div class="col-md-7">
        <h1 class="display-3">{{ title }}</h1>
        <p class="lead">{{ description }}</p>
        <hr class="my-4">
        {{ content }}
      </div>

      <!-- 右边：图片 -->
      <div class="col-md-5 text-center">
        <img src="{{ '/assets/img/prof_pic.jpg' | relative_url }}"
             alt="profile photo"
             class="img-fluid rounded profile-photo"
             style="max-width: 280px;">
      </div>
    </div>

  </div>
</main>


{% include footer.html %}
